<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Cloud Catcher</title>
    <link rel="stylesheet" href="/src/index.css?v={{version}}" />
  </head>
  <body>
    <div id="page" class="container">
      <div class="info-container">
        <div class="info-view">
          <h1>Cloud Catcher</h1>
          <p>Please wait one moment: we're just getting things set up.</p>
          <p>If this message doesn't go away, something has gone horrifically wrong
            - have you got JavaScript disabled?</p>
        </div>
      </div>
    </div>

    <script type="text/javascript" data-main="/src/loader.js?v={{version}}" src="/src/require.js?v={{version}}"></script>
  </body>
</html>
